@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
  
:root {
    --main-color: maroon; 
}


main{
    margin: 90px auto; 
    padding: 30px; 
    
}

section{
    margin-top: 50px; 
    margin-bottom: 10px;
    
    padding-top: 5px; 
    padding-bottom: 5px;

    border-style: solid;
    border-color: hsl(0, 88%, 47%);
    border-width: 10px;
    border-radius: 30px;
}
h1 {
    color: var(--main-color, maroon); 
    margin-left: 10px;
    text-decoration: underline;
    text-align: center;
}
  h2 {
    color: #ab1414;
    margin-bottom: 1mm;
    
  }
  h2#special{
    color:#14f751;
  }
  h3 {
    color: hsl(239, 75%, 40%); /*Makes h3 blue*/
    margin-top: 1cm;
  }
  p{
    /* color:color-mix(in srgb, rgba(0, 0, 0, 0.8), rgba(0, 8, 11, 0.5) 100%); */
    color:color-mix(in lch, plum, pink);
    margin: 10px;
  }

  nav{
    display: block;
  }

  ul{
    display: inline-block;
  }

  video{
    width: 100%;
    max-width: 600px;
    height: 450px;
    min-width: 300px;
  }

  a:hover {
    color: green;
  }
  a:active {
    color: red;
  }
  
  nav ul {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap;
  }

  div ol{
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    justify-items: center;
    align-items: center;
    
  }

  @media (max-width: 768px) {
    body {
        background-color: #d4d4f3; 
    }
   }

  form{
    color:rgb(14, 153, 107);
    margin-right: 1000px;
    position: static;
    left:  50px
   
  }
  footer {
    background-color: rgb(230, 71, 71); 
    padding: 1vh 10vw; 
    text-align: center;
    position: relative;
    top: 50px;
  }

  footer p {
    font-size: 1.5em; 
    margin: 1em 0; 
  }
  .footer-note{
    color: color(display-p3 1 0.5 0);
  }

*{
  font-family: "Oswald", sans-serif;
    
}
li[class = "yellow highlight"]{
    background-color: yellow;
}

p:hover {
    background-color: aquamarine;
}

h1, h2, h3 {
    margin-top: 10px;
    
}
/* Descendant Combinator  */
nav ul li { 
    
    font-size: larger;
}
/* Child Combinator */
header > h1{ 
    font-size: 250%;
}
/* General sibling comb */
h1 ~ p {
    margin-top: 0;
}
/* Adjacent sibling */
h1 + p {
    font-style: italic;
}
/* combining two selectors */
ol > li[class="a"] {
    background-color: #ab1414;
}
/*:has()  */

li:has(span) {
    color:rgb(14, 153, 107);
}
/* Nested Selectors */
nav ul{
    background: #eee;
    padding: 10px;
    
    & li{
        margin: 10px;
        padding: 10px;
    }
}